.list {
  border: 1px solid red;
  padding: 10px;
}

.list h2 {
  color: blue;
  cursor: pointer;
}

.taskSpan {
  cursor: pointer;
}

.mainContainer {
  display: flex;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
}

body {
  display: flex;
  margin: 0;
  box-sizing: border-box;
}

.taskList {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.taskCardDraggable {
  padding: 10px;
  border: 1px solid black;
  cursor: move;
}

.taskCardDraggable span {
  cursor: pointer;
}
.taskCardDraggable.dragging {
  opacity: 0.5;
}
