.list {
  border: 1px solid red;
}

.list h2 {
  color: blue;
}

.mainContainer {
  display: flex;
  max-width: 500px;
  max-height: 500px;
}

body {
  display: flex;
}

.taskList {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  min-width: 100px;
  border: 1px solid black;
}

.taskCardDraggable {
  padding: 10px;
  cursor: move;
}

.taskCardDraggable.dragging {
  opacity: 0.5;
}
